<script type="text/ng-template" id="create-thing.html">
    <div>
        <div class="modal-header">
            <h3 class="modal-title">Create thing</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="tname">thing Name</label>
                    <input type="text" class="form-control" id="tname" ng-model="thing.name" placeholder="Thing Name">
                </div>
                <div class="form-group">
                    <label for="tdesc">Description</label>
                    <input type="text" class="form-control" id="tdesc" ng-model="thing.description" placeholder="Description">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="create()">Create</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>